<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_addp.css') }}">
  <section>
  </head>
  <body>
  <nav class="navbar">
  <a href="{{ url_for('create_p') }}" class="logo">Secure Vault</a>
  <div class="nav-links">
    <a href="{{ url_for('home') }}">Home</a>
    <!-- Add more navigation links as needed -->
  </div>
</nav>

    <section>
      <span></span>
      <div class="signin">
        <div class="content">
          <h2>Add Password</h2>
          <form method="POST" action="{{ url_for('create_p') }}">
            {{ form.hidden_tag() }}
            <div class="inputBox">
              {{ form.username(size=32) }}
              <i>Username</i>
              {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>

            <div class="inputBox">
              {{ form.email(size=32) }}
              <i>Email</i>
              {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>

            <div class="inputBox">
              {{ form.website(size=32) }}
              <i>Website</i>
              {% for error in form.website.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>

            <div class="inputBox">
              {{ form.password(size=32) }}
              <i>Password</i>
              {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>

            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
